<%= content_tag :div, id: 'recipe-form', class: 'column', data: { recipe: recipe.to_json(except: [:created_at, :updated_at]) } do %>

    <div class='column is-two-thirds preview card'>
        <div id="cv-preview" class="card-content">
        <div class="recipe_type">
            <p class="subtitle" v-if="recipe.recipe_type != null">Título de Receita</p>
            <p>
            {{ recipe.title }}
            </p>
        </div>
    
        <div class="recipe_type">
            <p class="subtitle" v-if="recipe.recipe_type != null">Tipo de Receita</p>
            <p>
            {{ recipe.recipe_type }}
            </p>
        </div>
        
        <div class="cuisine">
            <p class="subtitle" v-if="recipe.cuisine != null">Cozinha</p>
            <p>
            {{ recipe.cuisine }}
            </p>
        </div>
        
        <div class="difficulty">
            <p class="subtitle" v-if="recipe.difficulty != null">Dificuldade</p>
            <p>
            {{ recipe.difficulty }}
            </p>
        </div>
    </div>

  <% end %>
