<div class='container'>
  <div id='menu' class="columns">
    <div class="column">

    <p>Bem-vindo ao maior livro de receitas online</p>

    <p></p>
    <menu-index
      v-for="(recipe, index) in recipes"
      :key="index"
      :recipes="recipe">
    </menu-index>
    </div>
  </div>
</div>

<%= content_for :included_scripts do %>
  <%= javascript_pack_tag 'index_recipe_vue' %>
<% end %>

<%= content_for :java_script do %>
  var recipes = <%= raw @recipes.to_json %>;
<% end %>

