<div id='recipe'>
  <div class='container'>
    <show-recipe
    :recipe='recipe'
    ></show-recipe>

    <%= link_to 'editar', edit_recipe_path, class: "btn-editar" %>
  </div>
</div>

<%= javascript_pack_tag 'show_recipe_vue' %>

<%= content_for :java_script do %>
  var recipe = <%= raw @recipe.to_json %>;
<% end %>

